footer {

    background-color: $background-footer;

    div {

        img {
            width: 20rem;
            height: auto;
        }

        h4 {
            font-family: $title-font;
            font-weight: bold;
        }
    }

    .menu_footer {

        padding: 2em 5em 0 0;
        @media (max-width:1024px) {
            padding: 2em 3em 0 0;
        }

        li {
            font-family: $title-font;
            font-size: 1.8em;
            font-weight: 600;
            text-align: center;
        @media (max-width:1024px) {
            font-size: 1.3em;
        }

            &:hover {
                color: $green;
            }
        }

    }
    
}