.header {

    background-image: url($background-header);
    background-repeat: no-repeat;
    background-size: cover;

    .header_text {

        h1 {
            font-family: $title-font;
            font-size: 5em;
            text-transform: uppercase;
            font-weight: bolder;
            transition: all 0.4s;
        
            &:hover {

                transform: scale(1.1) rotate(5deg);
            }
        }

        p {
            font-family: $text-font;
            font-size: 1.2em;
            margin: 1em;
                text-align: center;

        }
    }

    img {

        transition: all 0.4s;

        &:hover {

            transform: scale(1.1) rotate(5deg);
        }
    }
}