.header {

    background-image: url("../assets/images/grad6.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .header_text {

        h1 {
            font-family: $title-font;
            font-size: 2.5vw;
            text-transform: uppercase;
            font-weight: lighter;
            transition: all 0.4s;
            padding-bottom: 0.5em;
        
            @media (max-width:640px) {

                text-align: center;
                font-size: 10vw;
            }
        }

        p {
            font-family: $text-font;
            font-size: 1.3vw;
            margin: 1em;
            text-align: center;

            @media (max-width: 1400px) {
                font-size: 1.4vw;
            }
            @media (max-width: 1024px) {
                font-size: 1.1em;
            }
            @media (max-width:640px) {
                font-size: 1em;
            }

        }
    }
    
}