@import url('https://fonts.googleapis.com/css2?family=Alice&family=Lora:wght@400;500;600&display=swap');

$text-font: 'Lora', serif;
$title-font: 'Alice', serif;

$background-color: #fbf7f2;
$green: #596643;
$green-light: #829462;
$background-footer: #e4ded0;

