@import url("https://fonts.googleapis.com/css2?family=Alice&family=Lora:wght@400;500;600&display=swap");
@media (max-width: 1024px) {
  .navbar .desktop_menu {
    display: none;
  }
}
.navbar .desktop_menu .logo {
  width: 15vw;
}
.navbar .desktop_menu li {
  position: relative;
  font-family: "Alice", serif;
  font-size: 1.2vw;
  font-weight: lighter;
}
@media (max-width: 1400px) {
  .navbar .desktop_menu li {
    font-size: 1.6vw;
  }
}
@media (max-width: 1024px) {
  .navbar .desktop_menu li {
    font-size: 2vw;
  }
}
.navbar .desktop_menu li a img {
  -webkit-filter: drop-shadow(-15px 3px 12px rgba(0, 0, 0, 0.84));
  filter: drop-shadow(-15px 3px 12px rgba(0, 0, 0, 0.84));
  transition: transform 0.4s;
}
@media (max-width: 1024px) {
  .navbar .desktop_menu li a img {
    -webkit-filter: drop-shadow(-5px 3px 12px rgba(0, 0, 0, 0.84));
    filter: drop-shadow(-5px 3px 12px rgba(0, 0, 0, 0.84));
  }
}
.navbar .desktop_menu li a img:hover {
  transform: scale(1.1);
}
.navbar .desktop_menu .menu::before {
  display: none;
  position: absolute;
  top: 0.1vw;
  left: -2vw;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f13d";
  font-size: 0.9em;
  color: #596643;
  padding-left: -20px;
}
.navbar .desktop_menu .menu:hover::before {
  display: block;
}
@media (min-width: 1025px) {
  .navbar .mobile_menu {
    display: none;
  }
}
.navbar .mobile_menu i {
  font-size: 3em;
  padding-right: 1em;
}
@media (max-width: 340px) {
  .navbar .mobile_menu i {
    padding-right: 0.3em;
  }
}
.navbar .mobile_menu ul {
  width: 20em;
  background-color: #829462;
  padding: 0.3em;
  border-radius: 0 0 0 10%;
  position: fixed;
  top: 0em;
  right: 0;
  transform: translateX(200%);
  transition: all 0.8s;
  z-index: 10;
}
.navbar .mobile_menu ul li {
  padding: 0.4em;
  font-family: "Alice", serif;
  font-weight: 900;
  font-size: 2.2em;
  text-transform: uppercase;
  text-align: center;
}
.navbar .mobile_menu ul li i {
  top: 0.4em;
  left: 0.7em;
  font-size: 1em;
}
.navbar .mobile_menu .mobile_menu_display {
  transform: translateX(0%);
}

.header {
  background-image: url("../assets/images/grad6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header .header_text h1 {
  font-family: "Alice", serif;
  font-size: 2.5vw;
  text-transform: uppercase;
  font-weight: lighter;
  transition: all 0.4s;
  padding-bottom: 0.5em;
}
@media (max-width: 640px) {
  .header .header_text h1 {
    text-align: center;
    font-size: 10vw;
  }
}
.header .header_text p {
  font-family: "Lora", serif;
  font-size: 1.3vw;
  margin: 1em;
  text-align: center;
}
@media (max-width: 1400px) {
  .header .header_text p {
    font-size: 1.4vw;
  }
}
@media (max-width: 1024px) {
  .header .header_text p {
    font-size: 1.1em;
  }
}
@media (max-width: 640px) {
  .header .header_text p {
    font-size: 1em;
  }
}

.banner {
  height: 35vw;
}
@media (max-width: 1024px) {
  .banner {
    height: 50vw;
  }
}
@media (max-width: 640px) {
  .banner {
    height: 70vw;
  }
}
@keyframes wipe-enter {
  0% {
    -webkit-transform: scale(0, 0.025);
    transform: scale(0, 0.025);
  }
  50% {
    -webkit-transform: scale(1, 0.025);
    transform: scale(1, 0.025);
  }
}
.banner .banner_wrapper {
  visibility: hidden;
}
.banner .banner_wrapper .banner_wrapper_anim {
  visibility: visible;
  -webkit-animation: wipe-enter 0.9s 1;
  animation: wipe-enter 0.9s 1;
}
.banner .banner_wrapper .banner_text {
  background-color: white;
}
.banner .banner_wrapper .banner_text p {
  font-family: "Lora", serif;
  font-size: 1.6em;
}
@media (max-width: 1024px) {
  .banner .banner_wrapper .banner_text p {
    font-size: 1.2em;
  }
}
@media (max-width: 640px) {
  .banner .banner_wrapper .banner_text p {
    font-size: 0.8em;
  }
}
.banner .banner_wrapper .banner_text .cit {
  font-style: italic;
}

.objs {
  overflow: hidden;
}
.objs .left {
  transition: all 1.5s;
  transform: translateX(-100%);
  opacity: 0;
}
.objs .bot {
  transition: all 1.5s;
  opacity: 0;
}
.objs .right {
  transition: all 1.5s;
  transform: translateX(100%);
  opacity: 0;
}
.objs .appear {
  transform: translateX(0%);
  opacity: 1;
}

.description_text {
  position: relative;
}
.description_text h2 {
  font-family: "Alice", serif;
  font-weight: 600;
  text-transform: uppercase;
}
.description_text p {
  font-family: "Lora", serif;
}
.description_text::before {
  content: "";
  display: block;
  position: absolute;
  top: -4em;
  left: 50%;
  transform: translateX(-50%);
  width: 15em;
  height: 2px;
  background: linear-gradient(to right, #376645 0%, #797979 100%);
}
@media (max-width: 1024px) {
  .description_text::before {
    top: -3em;
  }
}
.description_text::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3em;
  left: 50%;
  transform: translateX(-50%);
  width: 10em;
  height: 2px;
  background: linear-gradient(to right, #376645 0%, #797979 100%);
}

.articles_home h3 {
  font-family: "Alice", serif;
  font-weight: 600;
}
.articles_home .grid_item {
  position: relative;
}
@media (max-width: 1300px) and (min-width: 1024px) {
  .articles_home .grid_item {
    height: 100vh;
    margin: 1.5em;
  }
}
.articles_home .grid_item .img_wrapper {
  width: 105%;
}
.articles_home .grid_item .img_wrapper img {
  height: 30vh;
}
@media (max-width: 1024px) {
  .articles_home .grid_item .img_wrapper img {
    height: 20vh;
  }
}
.articles_home .grid_item h4 {
  font-family: "Alice", serif;
  font-weight: 400;
}
.articles_home .grid_item .fig_date {
  position: absolute;
  width: 6em;
  top: 25vh;
  left: 1em;
  background-color: #fbf7f2;
  border-radius: 20px;
  padding: 0.6em;
  text-align: center;
  font-family: "Lora", serif;
  font-size: 20px;
}
@media (max-width: 1300px) and (min-width: 1024px) {
  .articles_home .grid_item .fig_date {
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  .articles_home .grid_item .fig_date {
    top: 16vh;
    font-size: 15px;
  }
}
@media (max-width: 640px) {
  .articles_home .grid_item .fig_date {
    font-size: 12px;
  }
}
.articles_home .grid_item .content_articles_overflow {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  font-family: "Lora", serif;
  font-size: 1em;
}
@media (max-width: 1024px) {
  .articles_home .grid_item .content_articles_overflow {
    -webkit-line-clamp: 5;
    font-size: 0.9em;
  }
}
.articles_home .grid_item a {
  background-color: #596643;
}
.articles_home .grid_item a:hover {
  background-color: #829462;
}
.articles_home .grid_item a::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f061";
  font-size: 1em;
  color: white;
  padding-left: 15px;
}

footer {
  background-color: #e4ded0;
}
footer div img {
  width: 20rem;
  height: auto;
}
footer div h4 {
  font-family: "Alice", serif;
  font-weight: bold;
}
footer .menu_footer {
  padding: 2.5em 5em 1em 6em;
}
@media (max-width: 1024px) {
  footer .menu_footer {
    padding: 2em 3em 0 0;
  }
}
@media (max-width: 640px) {
  footer .menu_footer {
    padding: 2em 0 2em 0;
  }
}
footer .menu_footer li {
  font-family: "Alice", serif;
  font-size: 1.2em;
  font-weight: 400;
  text-align: center;
  padding: 0 1em 0 1em;
}
@media (max-width: 1024px) {
  footer .menu_footer li {
    font-size: 1.1em;
  }
}
footer .menu_footer li:hover {
  color: #596643;
}

.about_me .bloc_about {
  background-image: url("../assets/images/grad6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 43%;
  border-radius: 0 5% 5% 0;
}
@media (min-width: 1277px) {
  .about_me .bloc_about {
    height: 85vh;
  }
}
@media (max-width: 1024px) {
  .about_me .bloc_about {
    height: 70vh;
  }
}
@media (max-width: 640px) {
  .about_me .bloc_about {
    width: 80%;
    height: 60vh;
  }
}
.about_me .img_about img {
  width: 35vw;
  top: 12vw;
  left: 20vw;
}
@media (max-width: 1300px) {
  .about_me .img_about img {
    width: 40vw;
    top: 18vw;
    left: 16vw;
  }
}
@media (max-width: 1024px) {
  .about_me .img_about img {
    width: 45vw;
    top: 25vw;
    left: 10vw;
  }
}
@media (max-width: 860px) {
  .about_me .img_about img {
    width: 48vw;
    top: 28vw;
    left: 3vw;
  }
}
@media (max-width: 640px) {
  .about_me .img_about img {
    width: 65vw;
    top: 28vw;
    left: 8vw;
  }
}
@media (max-width: 430px) {
  .about_me .img_about img {
    width: 80vw;
    top: 35vw;
    left: 6vw;
  }
}
.about_me .img_about_walking img {
  width: 30vw;
  top: 5vw;
  left: 25vw;
}
@media (max-width: 1300px) {
  .about_me .img_about_walking img {
    width: 40vw;
    top: 14vw;
    left: 16vw;
  }
}
@media (max-width: 1024px) {
  .about_me .img_about_walking img {
    width: 42vw;
    top: 10vw;
    left: 10vw;
  }
}
@media (max-width: 860px) {
  .about_me .img_about_walking img {
    width: 40vw;
    top: 25vw;
    left: 7vw;
  }
}
@media (max-width: 640px) {
  .about_me .img_about_walking img {
    width: 55vw;
    top: 10vw;
    left: 8vw;
  }
}
@media (max-width: 430px) {
  .about_me .img_about_walking img {
    width: 70vw;
    top: 20vw;
    left: 4vw;
  }
}
.about_me .img_about_ju img {
  width: 35vw;
  top: 4vw;
  left: 22vw;
  border-radius: 30% 30% 5px 5px;
}
@media (max-width: 1300px) {
  .about_me .img_about_ju img {
    width: 40vw;
    top: 18vw;
    left: 16vw;
  }
}
@media (max-width: 1024px) {
  .about_me .img_about_ju img {
    width: 42vw;
    top: 20vw;
    left: 10vw;
  }
}
@media (max-width: 860px) {
  .about_me .img_about_ju img {
    width: 40vw;
    top: 35vw;
    left: 9vw;
  }
}
@media (max-width: 640px) {
  .about_me .img_about_ju img {
    width: 55vw;
    top: 15vw;
    left: 8vw;
    border-radius: 30% 30% 30% 30%;
  }
}
@media (max-width: 430px) {
  .about_me .img_about_ju img {
    width: 65vw;
    top: 30vw;
    left: 4vw;
  }
}
.about_me .about_text {
  background-image: url("../assets/images/grad2.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 53%;
  border-radius: 5% 0 0 5%;
}
@media (min-width: 1277px) {
  .about_me .about_text {
    height: 85vh;
  }
}
@media (max-width: 1024px) {
  .about_me .about_text {
    height: 70vh;
  }
}
@media (max-width: 640px) {
  .about_me .about_text {
    width: 80%;
    height: 60vh;
    margin-top: 2em;
    align-self: end;
  }
}
.about_me h2 {
  font-family: "Alice", serif;
  text-transform: uppercase;
  padding-left: 2em;
}
@media (max-width: 1024px) {
  .about_me h2 {
    padding-left: 1em;
  }
}
@media (max-width: 860px) {
  .about_me h2 {
    padding-left: 0.4em;
  }
}
@media (max-width: 430px) {
  .about_me h2 {
    padding-left: 0;
  }
}
.about_me p {
  font-family: "Lora", serif;
  padding-left: 10em;
}
@media (max-width: 1024px) {
  .about_me p {
    padding-left: 3em;
  }
}
@media (max-width: 860px) {
  .about_me p {
    padding-left: 1.5em;
  }
}
@media (max-width: 430px) {
  .about_me p {
    padding-left: 0;
  }
}
.about_me::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -12em;
  left: 50%;
  transform: translateX(-50%);
  width: 25em;
  height: 2px;
  background: linear-gradient(to right, #376645 0%, #797979 100%);
}
@media (max-width: 1024px) {
  .about_me::after {
    bottom: -8em;
  }
}
.about_me .anchor {
  top: 55vw;
  left: 15vw;
  transform: rotate(-90deg);
  font-family: "Alice", serif;
  font-size: 5.5vw;
  color: white;
}
@media (max-width: 1300px) {
  .about_me .anchor {
    top: 70vw;
    left: 16vw;
  }
}
@media (max-width: 1024px) {
  .about_me .anchor {
    top: 60vw;
    left: 27vw;
  }
}
@media (max-width: 860px) {
  .about_me .anchor {
    top: 50vw;
    left: 34vw;
  }
}
@media (max-width: 640px) {
  .about_me .anchor {
    top: 62vw;
    left: 56vw;
    font-size: 10vw;
  }
}
@media (max-width: 430px) {
  .about_me .anchor {
    top: 90vw;
    left: 49vw;
    font-size: 14vw;
  }
}

.contact_button {
  background-color: #596643;
}
.contact_button:hover {
  background-color: #829462;
}

.about_ancrage .bloc_about_ancrage {
  background-image: url("../assets/images/grad2.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 53%;
  border-radius: 0 5% 5% 0;
}
@media (max-width: 640px) {
  .about_ancrage .bloc_about_ancrage {
    width: 80%;
    height: 40vh;
  }
}
.about_ancrage .about_ancrage {
  background-image: url("../assets/images/grad6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 43%;
  border-radius: 5% 0 0 5%;
}
@media (max-width: 640px) {
  .about_ancrage .about_ancrage {
    width: 80%;
    height: 40vh;
    margin-top: 2em;
    align-self: end;
  }
}
.about_ancrage h2 {
  font-family: "Alice", serif;
  text-transform: uppercase;
}
.about_ancrage p {
  font-family: "Lora", serif;
}

.theme_ancrage h2 {
  font-family: "Alice", serif;
  text-transform: uppercase;
}
.theme_ancrage div .carde {
  width: 20vw;
  height: 20vw;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
@media (min-width: 641px) and (max-width: 1024px) {
  .theme_ancrage div .carde {
    width: 30vw;
    height: 30vw;
  }
}
@media (max-width: 640px) {
  .theme_ancrage div .carde {
    width: 60vw;
    height: 60vw;
  }
}
.theme_ancrage div .carde .fronte, .theme_ancrage div .carde .backe {
  position: absolute;
  backface-visibility: hidden;
}
.theme_ancrage div .carde .fronte {
  width: 20vw;
  height: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
@media (min-width: 641px) and (max-width: 1024px) {
  .theme_ancrage div .carde .fronte {
    width: 30vw;
    height: 30vw;
  }
}
@media (max-width: 640px) {
  .theme_ancrage div .carde .fronte {
    width: 60vw;
    height: 60vw;
  }
}
.theme_ancrage div .carde .fronte img {
  width: 20vw;
  height: 20vw;
  border-radius: 10px;
}
@media (min-width: 641px) and (max-width: 1024px) {
  .theme_ancrage div .carde .fronte img {
    width: 30vw;
    height: 30vw;
  }
}
@media (max-width: 640px) {
  .theme_ancrage div .carde .fronte img {
    width: 60vw;
    height: 60vw;
  }
}
.theme_ancrage div .carde .backe {
  width: 20vw;
  height: 20vw;
  background-color: #e4ded0;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s;
  border-radius: 10px;
}
@media (min-width: 641px) and (max-width: 1024px) {
  .theme_ancrage div .carde .backe {
    width: 30vw;
    height: 30vw;
  }
}
@media (max-width: 640px) {
  .theme_ancrage div .carde .backe {
    width: 60vw;
    height: 60vw;
  }
}
.theme_ancrage div .carde.flipped {
  transform: rotateY(180deg);
}
.theme_ancrage div .carde.flipped .backe {
  opacity: 1;
}

@keyframes spin_51 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.article_back h1 {
  font-family: "Alice", serif;
  font-weight: 600;
}
.article_back h2 {
  font-family: "Alice", serif;
  font-weight: 600;
}
.article_back .loader {
  --dim: 10rem;
  width: var(--dim);
  height: var(--dim);
  border: 7px solid #596643;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: spin_51 1.5s infinite linear;
}

.big_article {
  transform: translateX(4%);
}
@media (max-width: 640px) {
  .big_article {
    transform: translateX(0%);
  }
}
.big_article img {
  height: 60vh;
  transform: translateX(-15%);
}
@media (max-width: 1300px) {
  .big_article img {
    height: 50vh;
  }
}
@media (max-width: 1024px) {
  .big_article img {
    height: 35vh;
  }
}
@media (max-width: 640px) {
  .big_article img {
    transform: translateX(0%);
    height: 30vh;
  }
}
.big_article h2 {
  font-family: "Alice", serif;
  font-weight: 600;
  text-transform: uppercase;
}
.big_article p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 11;
  -webkit-box-orient: vertical;
}
@media (max-width: 1300px) {
  .big_article p {
    -webkit-line-clamp: 9;
  }
}
@media (max-width: 1024px) {
  .big_article p {
    -webkit-line-clamp: 7;
  }
}
.big_article a {
  background-color: #596643;
}
.big_article a:hover {
  background-color: #829462;
}
.big_article a::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f061";
  font-size: 1em;
  color: white;
  padding-left: 15px;
}

.all_article div {
  border-radius: 5%;
}
.all_article div div {
  width: 105%;
}
.all_article div div img {
  height: 30vh;
  border-radius: 5%;
}
@media (max-width: 1200px) {
  .all_article div div img {
    height: 25vh;
  }
}
@media (max-width: 1024px) {
  .all_article div div img {
    height: 20vh;
  }
}
.all_article div h3 {
  font-family: "Alice", serif;
  font-weight: 400;
  text-transform: uppercase;
}
.all_article div p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
@media (max-width: 1024px) {
  .all_article div p {
    -webkit-line-clamp: 7;
  }
}
.all_article div a {
  background-color: #596643;
}
.all_article div a:hover {
  background-color: #829462;
}
.all_article div a::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f061";
  font-size: 1em;
  color: white;
  padding-left: 15px;
}

.categories li {
  font-family: "Alice", serif;
  font-weight: 600;
}
.categories .active_cat {
  background-color: #596643;
  color: white;
}
.categories::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3.5em;
  left: 50%;
  transform: translateX(-50%);
  width: 20em;
  height: 2px;
  background: linear-gradient(to right, #376645 0%, #797979 100%);
}
@media (max-width: 640px) {
  .categories::after {
    width: 10em;
  }
}

.article_full h1 {
  font-family: "Alice", serif;
  position: relative;
}
.article_full h1::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.6em;
  left: 50%;
  transform: translateX(-50%);
  width: 6em;
  height: 2px;
  background: linear-gradient(to right, #376645 0%, #797979 100%);
}
.article_full img {
  width: 45vw;
  height: 60vh;
}
@media (max-width: 1024px) {
  .article_full img {
    width: 55vw;
    height: 50vh;
  }
}
@media (max-width: 640px) {
  .article_full img {
    width: 80vw;
    height: 40vh;
  }
}
.article_full div {
  position: relative;
}
.article_full div::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0em;
  left: 50%;
  transform: translateX(-50%);
  width: 70vw;
  height: 2px;
  background: linear-gradient(to right, #376645 0%, #797979 100%);
}
.article_full div h2 {
  font-family: "Alice", serif;
  font-size: 3.5em;
  margin-left: 50px;
}
.article_full div h3 {
  font-family: "Alice", serif;
  font-size: 2em;
  margin-left: 50px;
}
.article_full div h4 {
  font-family: "Alice", serif;
  font-size: 1.6em;
  margin-left: 50px;
}
.article_full div p {
  font-family: "Lora", serif;
  font-weight: lighter;
  font-size: 0.94em;
}

.prev_next a div i {
  color: #376645;
  transition: all 0.2s ease-in-out;
}
.prev_next a div:hover i {
  transform: scale(1.5);
}
.prev_next a div p {
  font-family: "Lora", serif;
}

.contact h1 {
  font-family: "Alice", serif;
}
.contact form input, .contact form select, .contact form textarea {
  background: rgba(255, 246, 241, 0.5); /* Fond transparent */
  backdrop-filter: blur(5px); /* Flou de 5 pixels */
  border-bottom: solid #596643 1px;
  border-top: solid transparent 1px;
  transition: border-top 0.5s ease-in-out;
}
.contact form input:focus, .contact form select:focus, .contact form textarea:focus {
  outline: none;
  border-top: solid #596643 1px;
}
.contact form textarea {
  height: 20vh;
}
.contact form button {
  background-color: #596643;
  transition: all 0.3s ease;
}
.contact form button:hover {
  background-color: #829462;
}

.video-banner {
  position: relative;
  width: 100%;
  height: 80vh;
}
.video-banner video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-banner .overlay-text {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.video-banner .overlay-text h1 {
  font-family: "Alice", serif;
  font-size: 5em;
}
@media (max-width: 1024px) {
  .video-banner .overlay-text h1 {
    font-size: 4em;
  }
}
@media (max-width: 640px) {
  .video-banner .overlay-text h1 {
    font-size: 3em;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fbf7f2;
}

/*# sourceMappingURL=style.css.map */
